<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Routine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/routine.css') }}">
</head>
<body>

    <section class="left">

        <div class="logo"><img src="{{ url_for('static', filename = 'img/Logo.png') }}" alt="logo"></div>
        
            <div class="navbar">
                <ul>
                    <li><a href="/user">User</a></li>
                    <li><a href="/classes">Classes</a></li>
                    <li><a href="/routine" class="current">Routine</a></li>
                    <li><a href="/attendance">Attendance</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </div>
        
        <div class="footer"><h5>idms v1.0</h5></div>
        
    </section>

    <section class="right">
        <div class="container">


            <div class="logo"></div>
            <div class="time">10.15 A.M.<br>-<br>11.05 A.M.</div>
            <div class="time">11.05 P.M.<br>-<br>12.00 P.M.</div>
            <div class="time">12.00 P.M.<br>-<br>12.55 P.M.</div>
            <div class="time">1.30 P.M.<br>-<br>2.25 P.M.</div>
            <div class="time">2.25 P.M.<br>-<br>3.20 P.M.</div>
            <div class="time">3.20 P.M.<br>-<br>4.15 P.M.</div>
            <div class="time">4.15 A.M.<br>-<br>5.10 P.M.</div>
            
        
            <div class="day"><p>Monday</p></div>
            <div class="classes"><span class="subject">Mobile Computing</span><br><span class="faculty">DS</span></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
             
            <div class="day"><p>Tuesday</p></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            

            <div class="day"><p>Wednessday</p></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
    
            <div class="day"><p>Thursday</p></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
    
            <div class="day"><p>Friday</p></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
    
            <div class="day"><p>Saturday</p></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            <div class="classes"></div>
            
        </div>
    </section>
        

    
    
</body>
</html>